{% extends 'base.html' %}

{% block header %}
  <h1 class="head">{% block title %}Authoraization{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="login-form">
  <h1>Login</h1>
  <form action="/auth/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Submit</button>
  </form>
  <p class="register-now">Not registered yet? <a href="{{ url_for("auth.register") }}">Register Now</a></p>
{% endblock %}