<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - ToDo App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <h1 class="logo">ToDo - Maker</h1>
        <ul class="navbar">
            {% if g.user %}
                <li class="link"><a href="{{url_for("auth.logout")}}">Logout</a></li>
            {% elseif %}
                <li class="link"><a href="{{url_for("auth.register")}}">Register</a></li>
                <li class="link"><a href="{{url_for("auth.login")}}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <section class="main-body">
        {% block header %}{% endblock header %}
        {% block content %}{% endblock content %}
    </section>
    <footer>
        <P class="footer-text">ToDo Maker App</P>
    </footer>
</body>
</html>