{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block header %}

{% if g.user %}

<header>
    <h1>My To-Do List</h1>
</header>

{% else %}

    <h1 class="main-heading">Login or Register to make Todos</h1>

{% endif %}

{% endblock header %}

{% block content %}


{% if g.user %}


  <main>
    <section class="todo-input">
      <input type="text" id="todo-text" placeholder="Write todos here">
      <button id="add-todo">Add Todo</button>
    </section>
    <section class="todo-list">
      <ul id="todo-items">
        </ul>
    </section>
  </main>
  

{% else %}

<div class="plan-day">
    <h1 class="page-title">Start Planning Your day</h1>
    <div class="rainbow-line"></div>
    <ul class="page-links">
        <a href="{{ url_for("auth.register") }}">Register</a>
        <a href="{{ url_for("auth.login") }}">Login</a>
    </ul>
</div>

{% endif %}

{% endblock content %}

